.drinkimg{
    max-width:20%;
    display:block;
    top: 10%;
    margin: 0 auto;
    position:relative;
    top:5px;
    right:300px;
    
}

table.tb1 {
    border-collapse: collapse;
    position:absolute;
    top:300px;
    right:200px;
  }


  table, th, td {
    border: 1px solid black;
    width: 28.5%;
} 

h4{
  display : flex;
  position:absolute;
  top:200px;
  right:200px;
  justify-content:space-between;
  width: 500px;
	height: 100px;
}

.hopebt{
  max-width:40%;
  display:block;
  top: 50%;
  margin: 0 auto;
  position:relative;
  top:300px;
  left:300px;
  
}

.drinkbt{
  max-width:40%;
  display:block;
  top: 50%;
  margin: 0 auto;
  position:absolute;
  top:500px;
  left:400px;
  
}

.detail{
  align-items: center;
  padding:20px;
}